
<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <!-- switch basé sur le type de input: courramment on a
     - textbox
     - dropdown -->

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

    <select *ngSwitchCase="'dropdown'" [formControlName]="question.key" [id]="question.key" >
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>


    <counter-input *ngSwitchCase="'mycounter'" [formControlName]="question.key" [id]="question.key"
       [counterValue]="234"></counter-input>

  </div>

  <div class="errorMessage" *ngIf="!isValid">Le champ '{{question.label}}' doit être rempli</div>
</div>
